body {
  text-align: center;
  background-color: #efe;
  font-family: "Helvetica Neue";
}

main {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,22rem), 1fr));
  row-gap: 2rem;
}

footer {
  display: block;
  width: 100%;
  grid-column: span 100%;
}

a {
  text-decoration: none;
  color: #3A3;
  font-weight: normal;
}

a:focus, a:hover {
  color: #5d5;
  font-weight: normal;
}

.featured {
  grid-column: span 2;
  display: block;
}

.card {
  padding: 0.5rem;
  background: #fff;
  grid-column: span 1;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: minmax(100%, 22rem);
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem 1rem;
}

.card h2 {
  margin: 0;
  display: block;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 3;
  text-align: center;
  text-transform: uppercase;
  color: #30AA30;
}

.card .download-content img {
  display: inline;
  width: 1rem;
}
.card p {
  font-size: 0.8rem;
  display: inline;
}
